# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop/
dist/

# Data and Models (Ignoring large datasets and training files)
data/
data_split/
*.keras
*.h5
*.zip

# Streamlit
.streamlit/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Development Artifacts
development/
*.png
